*{
	box-sizing: border-box;
}
.navbar-brand{
	font-size: 24px;
}

#nav-list li{
	background-color: #0000CC;
	font-size: 1.3em;
	color: #777;
	text-align: center;
	padding: 10px;	
}

#nav-list li:hover{
	background-color: #00CCCC;
}

#nav-list hr{
	background-color: #0000CC;
	margin-top: 0px;
	margin-bottom: 0px;
	border-top: 1px solid #777;
}

h2{
	margin: 0;
}

#content .content-item{
	margin: 5px;
	background-color: pink;
}

#content .content-detail{
	padding: 0px 20px 0px 20px;
	text-align: justify;
}

#content .content-title{
	font-weight: bold;
	text-align: center;
	padding: 5px;
	font-size: 1.2em;
}

a:hover{
	cursor: pointer;
}